<!DOCTYPE html>
<html lang="en">
<!--divinectorweb.com-->
<head>
	<meta charset="UTF-8">
	<title>Chronic Kidney Disease Prediction</title>
	<link href="static/style.css" rel="stylesheet">
</head>
<body>
	<div class="menu-area">
		<a class="logo" href="#">KidPred+</a>
		<ul class="nav">
			<li>
				<a href="#home"><b>Home</b></a>
			</li>
			<li>
				<a href="#about"><b>About</b></a>
			</li>
			<li>
				<a href="#takeatest"><b>Take a Test</b></a>
			</li>
			<li>
				<a href="#Treatments"><b>Treatment</b></a>
			</li>
			<li>
				<a href="#contact"><b>Contact</b></a>
			</li>
		</ul>
	</div>
	<section id="home">
		<div class="content">
			<h1>Chronic Kidney Disease Prediction</h1>
			<p><b>Chronic Kidney Disease is one of the most critical health problems due to its increasing prevalence.We aim to test the ability of machine learning algorithms for the prediction of chronic kidney disease.</b></p>
		</div>
	</section>
	<section id="about">
		<div class="content">
			<h1>About</h1>
			<p>Chronic kidney disease, also called chronic kidney failure, involves a gradual loss of kidney function. Your kidneys filter wastes and excess fluids from your blood, which are then removed in your urine. Advanced chronic kidney disease can cause dangerous levels of fluid, electrolytes and wastes to build up in your body.</p>

		</div>
	</section>
	<section id="takeatest">
		<div class="content">
			<h1>Take a Test</h1>
			<p>Test if you have kidney disease or not!!! </p>
			<form action="{{ url_for('index') }}" method="POST">
			<button type="submit">Take Test</button>
			</form>
		</div>
	</section>
	<section id="Treatments">
		<div class="content">
			<h1>Treatment</h1>
			<p>The main treatments are:</p>

<ul>
<li>lifestyle changes – to help you stay as healthy as possible</li>
<li>medicine – to control associated problems, such as high blood pressure and high cholesterol</li>
<li>dialysis – treatment to replicate some of the kidney's functions, which may be necessary in advanced (stage 5) CKD</li>
<li>kidney transplant – this may also be necessary in advanced (stage 5) CKD</li>
</ul>
		</div>
	</section>
	<section id="contact">
		<div class="content">
			<h1>Contact</h1>
			<p>For any further details contact : 9856321479</p>
			<p> You can also mail us at : kidpred@gmail.com</p><br>
			<p><i><b>Exercise</b></i> to be fit, <b> <i>Eat</i> </b>to nourish your body and always <b><i>Ignore</i></b> the haters & unhealthy examples that were once feeding you. <b><i>You</i></b> are worth more than you realise.</p>

		</div>
	</section>
</body>
</html>